# Merging spatial and parcel data
We have an updated dataset for the parcels in Wakefield. We will merge this data with the spatial data so that we can better relate the two databases.

In [8]:
import geopandas as gpd
import pandas as pd

In [2]:
FILEPATH = "./database/shape_files/elec_metersPar.shp"

In [3]:
gdf = gpd.read_file(FILEPATH)

In [4]:
gdf

,OBJECTID,gisid,parentid,meter,address,companynam,streetname,location,customer,enabled,...,LOC_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,TOWN_ID,geometry
0,8391,EM08391,SV01862,E64836843,12,LOUISE KOVAR,CUTTER ST,503472,0.0,1.0,...,F_768286_3011457,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768288.374 3011504.988)
1,8577,EM08577,SV01861,E64836654,10,MAUREEN CURRAN,CUTTER ST,503471,0.0,1.0,...,F_768351_3011500,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768353.403 3011552.820)
2,8591,EM08591,SV01860,E64836640,6,JANYNE SIERRA,CUTTER ST,503470,0.0,1.0,...,F_768414_3011546,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768375.631 3011570.614)
3,8572,EM08572,SV01849,E64836659,540,ROBERT GREENE,NORTH AVE,503468,0.0,1.0,...,F_768514_3011567,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768522.888 3011602.174)
4,8575,EM08575,SV01864,E64836656,11,DANIEL MACMUNN,CUTTER ST,503473,0.0,1.0,...,F_768192_3011583,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768238.445 3011577.095)
5,8593,EM08593,SV01848,E64836638,2,JOHN RUSSO,CUTTER ST,503469,0.0,1.0,...,F_768469_3011623,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768483.244 3011650.692)
6,8578,EM08578,SV01863,E64836653,9,JESSIE WILSON,CUTTER ST,503474,0.0,1.0,...,F_768254_3011628,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768249.221 3011590.624)
7,8594,EM08594,SV02287,E64836637,14,JENNA TESSIER,WILLOW ST,503488,0.0,1.0,...,F_768106_3011657,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768085.019 3011691.517)
8,8592,EM08592,SV01859,E64836639,5,ASHLEY NIGRO,CUTTER ST,503475,0.0,1.0,...,F_768315_3011674,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768329.370 3011654.449)
9,8604,EM08604,SV02286,E64836627,12,JAMES MALACASO,WILLOW ST,503487,0.0,1.0,...,F_768155_3011693,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768116.001 3011710.220)
10,11238,EM11238,SV02285,E61481684,8,DANTE AND KATIE BOVA,WILLOW ST,503486,0.0,1.0,...,F_768205_3011731,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768181.322 3011747.001)
11,8573,EM08573,SV01858,E64836658,548,QUIRINO M IANNAZZO,NORTH AVE,503476,0.0,1.0,...,F_768383_3011736,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768379.646 3011706.601)
12,11259,EM11259,SV02288,E61481664,11,BRENDAN LYNCH,WILLOW ST,503489,0.0,1.0,...,F_768004_3011766,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768029.431 3011762.760)
13,8606,EM08606,SV02282,E64836625,6,SILVIO SCALZO,WILLOW ST,503485,0.0,1.0,...,F_768256_3011769,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768225.197 3011799.209)
14,9874,EM09874,SV01857,E61638149,552,CHARLENE BORTHWICK,NORTH AVE,503483,0.0,1.0,...,F_768332_3011807,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768333.625 3011836.382)
15,8603,EM08603,SV02284,E64836628,9,JACLYN AND ANTHONY CASTRONOVA,WILLOW ST,503490,0.0,1.0,...,F_768061_3011806,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768073.913 3011795.686)
16,8574,EM08574,SV07204,E64836657,554,DAVID P DONATO,NORTH AVE,503484,0.0,1.0,...,F_768301_3011846,FEE,05,ASSESS,None,20050303.0,None,N,305.0,POINT (768327.166 3011848.512)
17,9923,EM09923,SV02300,E61638100,10,RYAN AND ERIN COOPER,WOLCOTT ST,503499,0.0,1.0,...,F_767930_3011832,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (767919.362 3011867.706)
18,8605,EM08605,SV02283,E64836626,7,MARGARET KENNY,WILLOW ST,503491,0.0,1.0,...,F_768112_3011846,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768111.414 3011824.444)
19,9925,EM09925,SV02299,E61638098,8,JOSEPH DAGOSTINO,WOLCOTT ST,503498,0.0,1.0,...,F_767983_3011872,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (767951.762 3011894.953)
20,9922,EM09922,SV02281,E61638101,5,KEVIN B CONROY,WILLOW ST,503492,0.0,1.0,...,F_768165_3011885,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768184.255 3011875.100)
21,9895,EM09895,SV02296,E61638128,6,TIMOTHY GREEN,WOLCOTT ST,503497,0.0,1.0,...,F_768039_3011915,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768025.389 3011954.308)
22,10012,EM10012,SV02280,E61638010,558,RALPH BROWN,NORTH AVE,503493,0.0,1.0,...,F_768231_3011937,FEE,05,ASSESS,None,20040903.0,None,N,305.0,POINT (768227.036 3011991.866)
23,17865,MT13221,SV02280,E68478971,558,RALPH BROWN,NORTH AVE,550900,0.0,0.0,...,F_768231_3011937,FEE,05,ASSESS,None,20040903.0,None,N,305.0,POINT (768230.247 3011987.956)
24,12810,EM12810,SV02295,E59871336,4,SHAUN OHALLORAN,WOLCOTT ST,503496,0.0,1.0,...,F_768099_3011961,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768092.348 3012000.552)
25,9894,EM09894,SV02298,E61638129,7,VINCENT P DEBENEDICTIS,WOLCOTT ST,503501,0.0,1.0,...,F_767878_3011991,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (767918.458 3011969.137)
26,9924,EM09924,SV02301,E61638099,9,TYSON AND CHRISTINE VASAPOLI,WOLCOTT ST,503500,0.0,1.0,...,F_767778_3011969,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (767854.433 3011920.386)
27,9932,EM09932,SV02279,E61638091,2,DANIEL WHITE,WOLCOTT ST,503495,0.0,1.0,...,F_768171_3012015,FEE,05,ASSESS,None,20000101.0,None,N,305.0,POINT (768169.573 3012040.678)
28,9896,EM09896,SV02297,E61638127,5,MICHAEL AND DEVON FORD,WOLCOTT ST,503502,0.0,1.0,...,F_767948_3012028,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (767985.806 3012020.798)
29,9897,EM09897,SV02294,E61638126,3,SUSAN COLLINS,WOLCOTT ST,503503,0.0,1.0,...,F_768013_3012072,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (768034.131 3012063.107)
30,9931,EM09931,SV02293,E61638092,1,ANDREA OCALLAHAN,WOLCOTT ST,503504,0.0,1.0,...,F_768082_3012133,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (768107.248 3012125.461)
31,67,EM00067,SV02326,None,570,K OF C BUILDING ASSOCIATION,NORTH AVE,None,0.0,1.0,...,F_767828_3012152,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (767889.026 3012148.578)
32,4706,EM04706,SV02326,E68465207,570,K OF C BLDG,NORTH AVE,503529,0.0,1.0,...,F_767828_3012152,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (767889.026 3012148.578)
33,8543,EM08543,None,E64836690,0,SPRINGFIELD TERMINAL RW CO,NORTH AVE,506491,0.0,1.0,...,None,None,None,None,None,NaN,None,None,NaN,POINT (768050.208 3012297.682)

In [5]:
gdf.columns

Index(['OBJECTID', 'gisid', 'parentid', 'meter', 'address', 'companynam',
       'streetname', 'location', 'customer', 'enabled', 'ancillaryr', 'hn',
       'street', 'problem', 'pc_problem', 'network_pr', 'SOLAR', 'ERT',
       'kW_AC', 'Traffic', 'SHAPE_Leng', 'SHAPE_Area', 'MAP_PAR_ID', 'LOC_ID',
       'POLY_TYPE', 'MAP_NO', 'SOURCE', 'PLAN_ID', 'LAST_EDIT', 'BND_CHK',
       'NO_MATCH', 'TOWN_ID', 'geometry'],
      dtype='object')

In [6]:
WAKEFIELD_FILEPATH = "./database/wakefield_final_parcel_data.csv"

In [9]:
wakefield_parcel_df = pd.read_csv(WAKEFIELD_FILEPATH)

/var/folders/q4/7911fbv57wv3c68srp1cdlkm0000gn/T/ipykernel_80241/1803591896.py:1: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  wakefield_parcel_df = pd.read_csv(WAKEFIELD_FILEPATH)

In [10]:
wakefield_parcel_df

,PCL ID,Property Account Number,ST NU,ST ALT,LOCATION,CONDO_UNIT,COMPLEX_NAME,OWNER,OWNER 2,OWNER 3,...,BUILD VAL,TOTAL VAL,ADJ AREA,STATE CODE,Decade Built,Age Category,Heat System,Number of Units,Building Type,Use Class
0,07-069-182C,10006.0,NaN,NaN,WALNUT ST,NaN,NaN,"MERULLO, WILLIAM D",WILLIAM J MERULLO,NaN,...,0,56700,NaN,F_769337_3008027,NaN,POST2000,NaN,0,NaN,NaN
1,07-042-184A,10014.0,63,-63A,CEDAR ST,NaN,NaN,"KLINE, ROBERT A",NaN,NaN,...,402100,657600,5461.0,F_769446_3007971,1930.0,PRE1950,STEAM,3,Small Multifamily,Residential
2,07-036-188A,10022.0,31,NaN,GOULD ST,NaN,NaN,GOLDSTEIN ALLAN,DADY-GOLDSTEIN DIANE M,NaN,...,212800,470500,2359.2,F_769416_3007700,1910.0,PRE1950,DUCTED,1,Single Family,Residential
3,02-006-20C,1003.0,NaN,NaN,PARKER RD,NaN,NaN,TOWN OF WAKEFIELD,BOARD OF SELECTMEN,NaN,...,0,153500,NaN,F_766364_3011614,NaN,POST2000,NaN,0,NaN,NaN
4,07-038-191A,10031.0,27,NaN,GOULD ST,NaN,NaN,"PASSERINI, PATRICK A",JOYCE K PASSERINI,NaN,...,251800,507100,2963.0,F_769530_3007727,1900.0,PRE1950,NON-DUCTED,1,Single Family,Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9770,19-2M2-206B,39722,2,NaN,MIDDLESEX ST,# 2,212,KOZACHEK CATHERINE,VERTOPI JETMIR,NaN,...,550600,550600,3186.0,F_774102_3006007,2010.0,POST2000,DUCTED,1,Small Multifamily,Residential
9771,13-07B-034,22912,7,NaN,BARTLEY ST,NaN,213,FINN LAUREN & RYAN,NaN,NaN,...,628300,628300,2757.0,F_770501_3006591,2010.0,POST2000,DUCTED,1,Small Multifamily,Residential
9772,13-09B-034,22912,9,NaN,BARTLEY ST,NaN,213,YU SYNG M,YU BRITTANY K,NaN,...,778600,778600,3878.0,F_770501_3006591,2010.0,POST2000,DUCTED,1,Small Multifamily,Residential
9773,24-225-82A,48274,1014,NaN,MAIN ST,#1,214,NIDEN MATTHEW R,OMO NICOLETTA S,NaN,...,473300,473300,1970.0,NaN,1900.0,PRE1950,DUCTED,1,Small Multifamily,Residential
9774,24-227-82A,48274,1014,NaN,MAIN ST,#2,214,PRINCE IV JOHN LARRACEY,HILL JEFFERY PHILIP,NaN,...,483900,483900,2035.0,NaN,1900.0,PRE1950,DUCTED,1,Small Multifamily,Residential

## Investigate "None" LOC IDs
Some "LOC ID"s or "STATE CODE"s are `None`, so we should see how many and ignore those for merging

In [22]:
gdf[gdf["LOC_ID"].isnull()]

,OBJECTID,gisid,parentid,meter,address,companynam,streetname,location,customer,enabled,...,LOC_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,TOWN_ID,geometry
33,8543,EM08543,None,E64836690,0,SPRINGFIELD TERMINAL RW CO,NORTH AVE,506491,0.0,1.0,...,None,None,None,None,None,NaN,None,None,NaN,POINT (768050.208 3012297.682)

In [23]:
wakefield_parcel_df[wakefield_parcel_df["STATE CODE"].isnull()]

,PCL ID,Property Account Number,ST NU,ST ALT,LOCATION,CONDO_UNIT,COMPLEX_NAME,OWNER,OWNER 2,OWNER 3,...,BUILD VAL,TOTAL VAL,ADJ AREA,STATE CODE,Decade Built,Age Category,Heat System,Number of Units,Building Type,Use Class
789,11-102-062,17339.0,42,NaN,CHURCH ST,NaN,NaN,EVARTS EDWARD B,EVARTS KATHLEEN C,NaN,...,358600,623800,3488.0,NaN,1750.0,PRE1950,NON-DUCTED,1,Single Family,Residential
9773,24-225-82A,48274,1014,NaN,MAIN ST,#1,214,NIDEN MATTHEW R,OMO NICOLETTA S,NaN,...,473300,473300,1970.0,NaN,1900.0,PRE1950,DUCTED,1,Small Multifamily,Residential
9774,24-227-82A,48274,1014,NaN,MAIN ST,#2,214,PRINCE IV JOHN LARRACEY,HILL JEFFERY PHILIP,NaN,...,483900,483900,2035.0,NaN,1900.0,PRE1950,DUCTED,1,Small Multifamily,Residential

In [25]:
merged_df = pd.merge(
    wakefield_parcel_df[~wakefield_parcel_df["STATE CODE"].isnull()],
    gdf[~gdf["LOC_ID"].isnull()],
    how="inner",
    left_on="STATE CODE",
    right_on="LOC_ID"
)

In [26]:
type(merged_df)

pandas.core.frame.DataFrame

In [27]:
# Convert back to geodataframe
merged_gdf = gpd.GeoDataFrame(merged_df, geometry=merged_df["geometry"])

In [28]:
type(merged_gdf)

geopandas.geodataframe.GeoDataFrame

In [30]:
# Going to write the `merged_df` to a CSV for easier investigation
merged_df.to_csv("./data_explore/merged_parcel_location_data.csv", index=False)

In [54]:
# Write out merged shapefile
merged_gdf.to_file("./data_explore/merged_geometry.shp")

/Users/conorlyman/opt/anaconda3/envs/ttt/lib/python3.10/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,
/var/folders/q4/7911fbv57wv3c68srp1cdlkm0000gn/T/ipykernel_80241/3039011720.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_gdf.to_file("./parcel_database/data_explore/merged_geometry.shp")

## Investigate duplicate rows
Seems like a few rows may have been duplicated. Was this because of the merge or were there duplicates in the original dataset?

In [40]:
merged_df["PCL ID"].value_counts()

2A-014-47A     2
05-084-Q27+    2
2A-009-0QV     1
05-089-QUA     1
05-073-0QJ     1
05-072-0QH     1
05-071-0QG     1
05-070-0QF     1
05-069-0QE     1
05-068-0QD     1
05-067-0QC     1
05-066-0QB     1
05-065-0QA     1
05-075-Q15     1
05-074-Q14     1
05-090-QUB     1
05-087-QSA     1
05-088-QTA     1
2A-010-0QW     1
05-083-QQ1     1
05-082-QP1     1
05-080-QN2     1
05-081-QN1     1
05-079-QM2     1
05-078-QM1     1
05-077-QL1     1
05-076-QK1     1
2A-013-0QZ     1
2A-012-0QY     1
2A-011-0QX     1
05-086-0QR     1
Name: PCL ID, dtype: int64

In [47]:
gdf["LOC_ID"].value_counts()

F_767828_3012152    2
F_768231_3011937    2
F_768301_3011846    1
F_768082_3012133    1
F_768013_3012072    1
F_767948_3012028    1
F_768171_3012015    1
F_767778_3011969    1
F_767878_3011991    1
F_768099_3011961    1
F_768039_3011915    1
F_768165_3011885    1
F_767983_3011872    1
F_768112_3011846    1
F_767930_3011832    1
F_768286_3011457    1
F_768351_3011500    1
F_768332_3011807    1
F_768256_3011769    1
F_768004_3011766    1
F_768383_3011736    1
F_768205_3011731    1
F_768155_3011693    1
F_768315_3011674    1
F_768106_3011657    1
F_768254_3011628    1
F_768469_3011623    1
F_768192_3011583    1
F_768514_3011567    1
F_768414_3011546    1
F_768061_3011806    1
Name: LOC_ID, dtype: int64

In [45]:
(wakefield_parcel_df["PCL ID"].value_counts()>1).sum()

0

### Investigate duplicate rows in gdf
There are duplicates in the GDF for `LOC_ID=="F_767828_3012152"` and `LOC_ID=="F_768231_3011937"`

In [51]:
gdf[gdf["LOC_ID"].isin(["F_767828_3012152", "F_768231_3011937"])]

,OBJECTID,gisid,parentid,meter,address,companynam,streetname,location,customer,enabled,...,LOC_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,TOWN_ID,geometry
22,10012,EM10012,SV02280,E61638010,558,RALPH BROWN,NORTH AVE,503493,0.0,1.0,...,F_768231_3011937,FEE,05,ASSESS,None,20040903.0,None,N,305.0,POINT (768227.036 3011991.866)
23,17865,MT13221,SV02280,E68478971,558,RALPH BROWN,NORTH AVE,550900,0.0,0.0,...,F_768231_3011937,FEE,05,ASSESS,None,20040903.0,None,N,305.0,POINT (768230.247 3011987.956)
31,67,EM00067,SV02326,None,570,K OF C BUILDING ASSOCIATION,NORTH AVE,None,0.0,1.0,...,F_767828_3012152,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (767889.026 3012148.578)
32,4706,EM04706,SV02326,E68465207,570,K OF C BLDG,NORTH AVE,503529,0.0,1.0,...,F_767828_3012152,FEE,2A,ASSESS,None,20000101.0,None,N,305.0,POINT (767889.026 3012148.578)